body{
    font-family: Helvetica, Arial, sans-serif;
}
.footer{
    background-color: #c986c9;
    border-radius: 25px;
    margin: 2px;
}
.footer div{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;

}
